<h1>User password <%= @draft_title %></h1>

<p>Dear <%= @user.username %>,</p>

<p>Please click this link to <%= @is_reset ? 'reset' : 'set' %> your password:</p>
<p>
  <a href="<%= edit_account_forget_password_url(token: @token) %>"><%= edit_account_forget_password_url(token: @token) %></a>
</p>

